*{
  /*font-family: 'Nunito', sans-serif!important;*/
  font-family: 'Kurale', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar-inverse{
  background-color:rgba(0,0,0,0.8);
  border-color:#333333;
}
.header-in{
  background-color:#000;
}

@media(min-width:768px) {
  .navbar-nav{

    padding-top: 3px;
  }
  .navbar{
    border-radius: 0;
  }
  .navbar-inverse{
    background-color:transparent;
    border-color: transparent;
  }
  .header-in{
    background-color: #000;
  }
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover{
  background-color:#e24650;
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a{
  color:#fff;
  font-size:18px;
  text-align: center;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color: #fff;
}
.navbar-inverse .navbar-toggle:hover,.navbar-inverse .navbar-toggle{
  background-color: #000 ;
  border-color: #000;
}
.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #fff;
}
.navbar-inverse .navbar-collapse{
  border-color: #fff;
}
.navbar-inverse .navbar-toggle:focus{
  background-color: #000;
}
.navbar-collapse{
  box-shadow: none;
}
.logo{
  font-family: 'Londrina Outline', cursive;
  font-size: 40px;
  color:#FFF;
}
/*frist part*/
.initial{
  margin-top: -20px;
}
.col-md-12,.col-sm-12{
  padding-left: 0;
  padding-right: 0;
}
.overlay{
  background-color: rgba(0, 0, 0,0.71);
  height: 120vh;
}
.bg-img{
  background-image: url(../img/cel.jpg);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 120vh;
}
.second-section{
  background-color:#fff;
  padding-bottom: 5%;
}
@media screen and (min-width:768px) {
  .bg-img{
  height: 105vh;
  }
  .overlay{
    height: 105vh;
  }
}
.img-circle{
  width: 80%;
  height: 300px;
}
.second-section{
  padding-top: 5%;
}
.row-without{
  margin-right: 0;
  margin-left: 0;
}
@media screen and (min-width:768px) {
  .row-without{
    margin-right: -15px;
    margin-left: -15px;
  }
}
.pt{
  padding-top: 55%;
}

h1{
  color:#000;
  font-weight: 300;
}
.tx-20{
  font-size:18px;
  font-weight: bold;
}
.tx-20{
  font-size: 20px;
}
.tx-65{
  font-size: 50px;
  font-weight: bold;
}
.tx-titulos{
  color: #CB8589;
}
.btn-red{
  margin-top: 8%;
  background-color: #e24650;
  width: 60%;
  color: #FFF;
  font-size: 20px;
}
.btn:hover{
  color:#fff;
}
.btn:active:focus, .btn:focus{
  outline: 0;
}
.btn:focus{
  color: #fff;
}
.mt-5{
  margin-top: 5%;
}
.mt-4{
  margin-top: 4%;
}
.bg-claro{
 background-color: #EBEBBB;
}
.box-skill{
  width: 100%;
  height: 120px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.box-skill:hover{
  color:#fff;
  font-weight: bold;
}

.bg-contacto{
  background-image: url(../img/cel.jpg);
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}
.pt-6{
  padding-top: 6%;
}
.tx-contacto{
  font-size: 35px;
  font-weight: bold;
  color: #F7f7f7;
}
.tx-10{
  font-size: 10px;
}
.pt-10{
  padding-top: 10%;
}

.color-red{
  color:#e24650;
}
.color-white{
  color: #fff;
}
.overlay2{
  background-color: rgba(0, 0, 0,0.7);
  height: 120vh;
}
.black{
  background-color: black;
  color: #fff;
}
.container-proyect {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.img-responsive{
  width: 100%;
  height: 250px;
}
.img-rounded{
  width: 100%;
}

.overlay-proyect {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color:rgba(0,0,0,0.7);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container-proyect:hover .overlay-proyect {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.tx-18{
  font-size: 18px;
}
.tx-22{
  font-size: 22px;
}

.cuarenta{
  font-size: 40px;
}
/*#skills{
  background: linear-gradient(to bottom, #ffffff 5%, #E8E3C7 25%, #E8E3C7 50%, #E8E3C7 100% )
}*/
.txt-proyecto{
  color: #fff;
  padding:10%;
  font-weight: 300;
}
a:hover{
  color: transparent;
}
@media screen and (min-width:768px) {
  .container-about{
    width: 1100px;
  }
.pt{
  padding-top: 50%;
}
.mt-4{
  margin-top: 0;
}
.box-skill{
  width: 100%;
  height: 150px;
}
.box-skill>i .icon-:hover{
  font-size: 60px;
  font-weight: bold;
}
.btn-red{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 60%;
  height: 45px;
  font-size: 15px;
}
.btn-red2{
  width: 25%;
  background-color: #e24650;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-contacto{
  height: 60vh;
}
}

#portafolio{
  margin-bottom: 5%;
}

.nav{
  height: 190px;

}

.active{
  height: 50px;
}

.active-nav{
  color: #fff;
  background-color:rgba(0,0,0,0.8) ;
}
@media screen and (min-width:768px){
  .container-proyect {
    width: 100%;
  }

  .image{
    height: 250px;
  }
  .overlay2{
    height: 60vh;
  }
  .pt-20{
    padding-top: 6%;
  }
  .tx-40{
    font-size: 65px;
  }
  .pt-6{
    padding-top: 4%;
  }
  .tx-22{
    font-size: 25px;
  }
  .pt-10{
    padding-top: 5%;
  }
  .nav{
    height: 60px;
  }

}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #000;
  color:#fff;
}
.iconos-social{
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items:flex-start;
}
.name{
  border: 2px solid #f7f7f7;
  width: 80%;
  padding:  5% 0;
  margin-top: 5%
}
.premios{
  margin-top: 3%;
  margin-bottom: 8%;
}
.premio-uno{
  width: 50%;
  padding: 3.5% 0;

}
.lightrose{
  color: #e8cbc6;
}
hr{
  width: 10%;
  border:1px solid #000;
  display: inline-block;
}
.borde {
  margin-top: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.borde > img{
  width: 20px;

}
.rosario{
  background-image: url(../img/ros.jpg);
  height: 250px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media screen and (min-width:768px) {
  .navbar-inverse .navbar-nav>li>a{
    color:#f7f7f7;
  }
  .premio-uno{
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;

    width:9%;
    border-radius: 50%;
  }
  .mt-2{
    margin-top: 2%
  }
  .name{
    width: 55%;
  }
  .rosario{
    width: 55%;
    height: 150px;
  }
  .premio-uno{
    padding: 2% 0;
  }
  .premio-txt{
    width: 100%;
  }
  hr{
    width: 5%;
  }
  .borde {
    margin-top: 1%;
  }
  .borde >img {
   width: 23px;
  }
  }

#skills{
  background-color:#f1f1f1;
 padding-bottom:  30px;
 color: #000;
}
.tech{
  color: #fff;
}
  h4{
    color: #fc73b1;
    font-weight: 300;
    font-style: italic;
  }
  .box-proyect{
    background-position:center;
    background-size: cover;
    height: 250px;
  }
.ux-proyect{
  background-image: url(../img/re-pago.png);
  border-bottom: 5px solid #e9a31b;
}
.ux-2{
  background-image: url(../img/marvel.png);
  background-position: top;
  border-bottom: 5px solid #1da1f2;
}
.gas{
  background-image: url(../img/gas-2.png);
  background-position:top;
  border-bottom: 5px solid #ff6347;
}

.circular-progress {
  position: relative;
  margin: auto;
}
.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}
.circular-progress:before, .circular-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.circular-progress:before {
  line-height: 6rem;
  padding: .5em;
  box-sizing: border-box;
  font-size: 1.8rem;
}
.circular-progress:after {
  line-height: 13rem;
}

.html5 {
  background: linear-gradient(0deg, crimson 50%, rgba(208,2,27, 0.2) 50%);
  transform: rotate(145deg);
}
.html5:before, .html5:after {
  color: crimson;
}
.html5:before {
  content: "html5";
  background: #f1f1f1 content-box;
  transform: rotate(-145deg);
  text-transform: uppercase;
}
.html5:after {
  content: " ";
  background: linear-gradient(transparent 50%, #f1f1f1 50%);
  transform: scale(1.1) rotate(-145deg);
}


.css3 {
  background: linear-gradient(0deg, steelblue 50%, rgba(70, 130, 180, 0.2) 50%);
  transform: rotate(153deg);
}
.css3:before, .css3:after {
  color: steelblue;
}
.css3:before {
  content: "css3";
  background: #f1f1f1 content-box;
  transform: rotate(-153deg);
  text-transform: uppercase;
}
.css3:after {
  content: " ";
  background: linear-gradient(transparent 50%, #f1f1f1  50%);
  transform: scale(1.1) rotate(-153deg);
}

.js{
  background: linear-gradient(0deg, #e9a31b 50%, rgba(255, 165, 0, 0.2) 50%);
  transform: rotate(136deg);
}
.js:before, .js:after {
  color: #e9a31b;
}
.js:before {
  content: "Js";
  background: #f1f1f1 content-box;
  transform: rotate(-136deg);
  text-transform: uppercase;
}
.js:after {
  content: " ";
  background: linear-gradient(transparent 50%, #f1f1f1 50%);
  transform: scale(1.1) rotate(-136deg);
}
.ux{
  background: linear-gradient(0deg, #4e2279 50%, rgba(78,34,121, 0.2) 50%);
  transform: rotate(136deg);
}
.ux:before, .ux:after {
  color:#4e2279;
}
.ux:before {
  content: "UX";
  background: #f1f1f1 content-box;
  transform: rotate(-136deg);
  text-transform: uppercase;
}
.ux:after {
  content: " ";
  background: linear-gradient(transparent 50%, #f1f1f1 50%);
  transform: scale(1.1) rotate(-136deg);
}

.circular {
  display: flex;
  margin-top: 4em;
  flex-wrap: wrap;
}
.pt-3{
  padding-top: 3%;
}
.parrafo-contact{
  font-weight: 300;
  font-size: 16px;
}
.font-300{
  font-weight: 300;
}
.box-contact{
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e24650;
}
.text-left{
  float: left;
}
.mt-6{
  margin-top: 6%;

}
.div-contact{
  height: 80px;
}
.col-xs-7{
  padding-left: 0px;
}
@media screen and (min-width : 768px) {
  .box-contact{
    height: 80px;
    background-color: #fff;
    border-radius: 20%;
  }
  .mt-7{
    margin-top: 7%;
  }
}
@media screen and (min-width:1280px) {
  .pt{
    padding-top: 13%;
  }
  .btn-red{
    width:58%;
  }
  .btn-red2{
    width: 20%;
    height: 50px;
  }
  .bg-contacto{
    height: 95vh;
  }
  .circular-progress, .circular-progress:before, .circular-progress:after {
    width: 11rem;
    height: 11rem;
  }
  .overlay2{
    height: 95vh;
  }
  .pt{
    padding-top: 20%;
  }
  .header-in{
    background-color: #000;
  }
}
.ico-contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8%;
}
.poke{
  background-image: url(../img/poke.png);
  background-position:top;
  border-bottom: 5px solid #4e2279;
}
.btn-default{
  background-color: #4e2279;
  color:#fff;
  border-color: #4e2279;
}
